*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --vermelho: #FF1820;
    --branco: #ffffff;
    --preto: #000000;
    --pretoHover: #2F2B2B;
    --borda: #AAAAAA;
    --cinza: #969595;
    --meioBranco: #F2F1F1;

    --teste: #141414;
}

aside{
    width: 328px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--preto);
    height: 100vh;
    position: fixed;

    & .linha{
        height: 1px;
        width: 100%;
        background-color: var(--borda);
    }
}

aside div{
    padding: 30px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    align-items: center;
}

aside nav{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-content: center;
    
    & a{
        padding: 8px 30px;
        display: flex;
        align-items: center;
        gap: 10px;
        font-size: 15px;
    }
    & a:hover, & .selecionado{
        background-color: var(--vermelho);
    }

    & ul{
        background-color: var(--teste);
    }
}

a{
    font-family: "Poppins", sans-serif;
    text-decoration: none;
    color: var(--branco);
    cursor: pointer;
}

h1, label, input, p, h2, h3, select{
    font-family: "Poppins", sans-serif;
}

h2, h3{
    font-size: 18px;
}

select, .abrirMultiSelect{
    font-size: 14px;
}

ul{
    list-style: none;
    margin-top: -15px;
    
    & li{
        margin-top: 5px;
    }

    & a{
        display: flex;
    }
}

section{
    margin-left: 328px;
    padding: 30px;
    min-height: 100vh;

    & .linha{
        height: auto;
        width: 1px;
        background-color: var(--borda);
    }
}

.linhaDois{
    height: 1px;
    width: 100%;
    background-color: var(--borda);
}

section.veiculoCadAt, section.veiculoMarMo, section.veiculoAcess, section.cadastroServico{
    display: flex;
    flex-direction: row;
    gap: 30px;
    justify-content: space-between;
    
    &>div{
        width: 100%;
    }
    /* justify-content: space-around; */

    & p{
        color: var(--cinza);
    }
}

section.veiculoCadAt, section.veiculoAcess{
    &>div{
        display: flex;
        flex-direction: column;
        gap: 20px;
        padding: 20px;
        border: 1px solid var(--borda);
        border-radius: 8px;
        height: fit-content;

        &>div{
            display: flex;
            flex-direction: column;
        }
    }  

    &.veiculoAcess>div>h1{
        text-align: center;
    }
    
    & .listaAcess{
        display: grid;
        grid-template-columns: repeat(3, auto);
        gap: 10px;
        max-height: 80vh;
        overflow: auto;

        & h3{
            padding: 10px;
            border-radius: 8px;
            text-align: center;
            background-color: var(--meioBranco);
        }
    }
}

section.cadastroServico{
    &>div:first-child{
        display: flex;
        flex-direction: column;
        gap: 20px;

        &>div{
            display: flex;
            flex-direction: column;
            gap: 20px;
            padding: 20px;
            border: 1px solid var(--borda);
            border-radius: 8px;
            height: fit-content;
        }
    } 

    &>div:last-child{
        display: flex;
        flex-direction: column;
        gap: 20px;
        padding: 20px;
        border: 1px solid var(--borda);
        border-radius: 8px;
        height: fit-content;

        & h1{
            text-align: center;
        }
    }

    & .listaServico{
        display: grid;
        grid-template-columns: repeat(3, auto);
        gap: 10px;
        max-height: 80vh;
        overflow: auto;

        & h3{
            padding: 10px;
            border-radius: 8px;
            text-align: center;
            background-color: var(--meioBranco);
        }
    }

    & .listaServico{
        padding: 0 5px;
        grid-template-columns: repeat(2, auto);
    }
}

.selecaoAcess{
    display: flex;
    flex-direction: column;
    position: relative;
    width: 100%;

    & select {
        display: none;
    }

    &>div{
        position: relative;
        width: 100%;
        padding: 10px;
        border: 1px solid var(--borda);
        border-radius: 5px;

        & label{
            cursor: pointer;
        }
    }

    .select-box ul {
        list-style-type: none;
        padding: 0;
        margin: 0;
        display: none;
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        background-color: white;
        border: 1px solid var(--borda);
        max-height: 200px;
        overflow-y: auto;
        z-index: 1;
    }
    
    .select-box ul li {
        padding: 4px 10px;
        cursor: pointer;
    }
    
    .select-box ul li label{
        display: flex;
        align-items: center;
        font-size: 14px;
    }
    
    .select-box ul li:hover {
        background-color: #f0f0f0;
    }
    
    .select-box ul li input {
        margin-right: 10px;
    }
    
    .select-box.open ul {
        display: block;
    }

    & p{
        font-size: 14px;
        margin-top: 5px;
    }
}

section.veiculoMarMo{
    &>div{
        display: flex;
        flex-direction: column;
        gap: 30px;
    }

    &>div:last-child{
        display: flex;
        flex-direction: column;
        gap: 20px;
        padding: 20px;
        border: 1px solid var(--borda);
        border-radius: 8px;
        height: fit-content;
    }

    & .listaCarros{
        max-height: 80vh;
        overflow: auto;
        margin: -20px;
        border: none;
        display: flex;
        flex-direction: column;
        gap: 30px;

        &>div{
            display: flex;
            flex-direction: column;
            gap: 5px;
        }
        
        &>div>div:nth-child(2){
            display: flex;
            flex-direction: row;
            gap: 5px;
            align-items: center;

        }
    }

    .modelos{
        display: grid;
        grid-template-columns: repeat(3, auto);
        gap: 5px;

        & h3{
            padding: 10px;
            border-radius: 8px;
            text-align: center;
            background-color: var(--meioBranco);
        }
    }

    &>div:last-child h1{
        text-align: center;
    }

    &>div>div{
        display: flex;
        flex-direction: column;
        gap: 20px;
        padding: 20px;
        border: 1px solid var(--borda);
        border-radius: 8px;
        height: fit-content;

        &>div{
            display: flex;
            flex-direction: column;
        }
    }
}

section.veiculoLista, section.osLista{
    &>div{
        display: flex;
        flex-direction: column;
        gap: 30px;
        height: 90vh;
        overflow: auto;
        border: 1px solid var(--borda);
        border-radius: 8px;
        padding: 20px;
    }

    & .listaVeiculos, .listaOs{
        display: flex;
        flex-direction: column;
        gap: 40px;

        &>div{
            display: flex;
            flex-direction: column;
            gap: 5px;
        }

        &.listaOs>div{
            padding: 5px;
        }

        &.listaOs>div:hover{
            cursor: pointer;
            border-radius: 8px;
            background-color: var(--meioBranco);
        }

        &>div>div:first-child{
            display: grid;
            grid-template-columns: auto 1fr;
            align-items: center;
            gap: 5px;
        }

        & .responsaveis{
            display: grid;
            grid-template-columns: repeat(5, 1fr);
            gap: 10px;


            & h3{
                padding: 10px;
                border-radius: 8px;
                text-align: center;
                background-color: var(--meioBranco);
            }
        }

        & .ordemServico{
            display: grid;
            grid-template-columns: 2fr 1fr 1fr 1fr;
            gap: 10px;

            & h3{
                padding: 10px;
                border-radius: 8px;
                text-align: center;
                background-color: var(--meioBranco);
            }
        }

    }

    & .edicaoOs{
        display: flex;
        flex-direction: column;
        gap: 30px;
        border: 1px solid var(--borda);
        border-radius: 8px;
        padding: 20px;
    }

    & .edicaoOs>div{
        display: flex;
        flex-direction: column;
        /* gap: 30px; */
    }
    & .edicaoOs>div:last-child{
        display: flex;
        flex-direction: row;
        gap: 30px;

        & button:first-child{
            background-color: var(--meioBranco);
            color: var(--preto);
            width: 50%;
        }
        & button:first-child:hover{
            color: var(--branco);
            background-color: var(--pretoHover);
        }
        & button{
            width: 50%;
        }
    }

    & h1{
        text-align: center;
    }

    & p{
        color: var(--cinza);
    }
}

.conteudoCli>div{
    display: flex;
    flex-direction: row;
    gap: 20px;
    border: 1px solid var(--borda);
    border-radius: 8px;
    padding: 20px;

    & p{
        color: var(--cinza);
    }

    &>div{
        width: 50%;
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

    &>div>div{
        display: flex;
        flex-direction: column;
    }

    & .telefones>div{
        display: flex;
        flex-direction: column;
        gap: 10px;

        & div:nth-child(1) input:nth-child(1), div:nth-child(2) input:nth-child(1){
            width: 20%;
        }

        & div:nth-child(1) input:nth-child(2), div:nth-child(2) input:nth-child(2){
            width: calc(100% - 21%);
        }
    }

    & .endereco{
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    .pessoaJuridica{
        display: flex;
        flex-direction: column;
        gap: 20px;

        & div{
            display: flex;
            flex-direction: column;
        }
    }

    .pessoaJuridica, .pessoaFisica{
        display: none;
    }
}

section.gerencOs{
    display: flex;
    flex-direction: column;
    gap: 20px;

    & h1{
        text-align: center;
    }
}

form{
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.conteudo{
    display: flex;
    flex-direction: column;
    gap: 20px;
    
    &>div, &>div>div{
        display: flex;
        flex-direction: column;
    }
    &>div{
        gap: 20px;
    }
    
    & .juntos{
        display: flex;
        flex-direction: row;
        gap: 20px;
        
        & div{
            display: flex;
            flex-direction: column;
        }
    }
}

.radios{
    display: flex;
    flex-direction: column;
    gap: 10px;

    & div{
        display: flex;
        align-items: center;
        gap: 10px;
    }

    & label{
        cursor: pointer;
    }
}

input, select{
    border-radius: 5px;
    border: 1px solid var(--borda);
    outline: none;
    height: 40px;
    padding: 0 10px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    appearance: none;
    margin: 0;
}

input[type="radio"] {
    appearance: none;
    width: 10px;
    height: 24px;
    border-radius: 8px;
    border: 2px solid var(--preto);
    position: relative;
    cursor: pointer;
    transition: all 0.3s ease;
}

input[type="radio"]:checked {
    background-color: var(--preto);
    border-color: var(--preto);
}

input[type="radio"]:checked::before {
    content: "";
    position: absolute;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: var(--branco);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

input[type="radio"]:hover {
    box-shadow: 0 0 5px rgba(76, 175, 80, 0.3);
}

button{
    cursor: pointer;
    font-family: "Poppins", sans-serif;
    color: var(--branco);
    border: none;
    outline: none;
    background-color: var(--preto);
    padding: 10px 15px;
    border-radius: 8px;
    
    &:hover{
        background-color: var(--pretoHover);
    }
}