<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Oficina AutoGyn</title>
    <link rel="stylesheet" href="style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
</head>
<body>
    <main>
        <aside>
            <div>
                <img src="/img/logo.png" alt="" width="80%">
                <span class="linha"></span>
            </div>
            <nav>
                <a class="menu abrirVeiculo" id="veiculos"><img src="/img/veiculo.svg" alt="" width="20"> Veiculos</a>
                <ul class="abrirVeiculo">
                    <li><a href="veiculoCadAt.html">Cadastrar | Atualizar</a></li>
                    <li><a href="veiculoMarMo.html">Marca | Modelo</a></li>
                    <li><a href="acessorios.html" class="selecionado">Acessórios</a></li>
                    <li><a href="veiculoLista.html">Listar Veiculos</a></li>
                </ul>
                <a href="clientes.html"><img src="/img/cliente.svg" alt="" width="20"> Clientes</a>
                <a class="menu abrirOs" id="os"><img src="/img/ordem.svg" alt="" width="20"> Ordem de Serviço</a>
                <ul class="abrirOs" hidden>
                    <li><a href="cadastroServico.html">Serviços</a></li>
                    <li><a href="cadastroPeca.html">Peças</a></li>
                    <li><a href="gerencOs.html">Gerenciamento de OS</a></li>
                    <li><a href="controleExOs.html">Controle de execução da OS</a></li>
                </ul>
                <!-- <a href="estoque.html">Estoque</a>
                <a href="controle.html">Controle</a> -->
            </nav>
        </aside>
    
        <section class="veiculoAcess">
            <div>
                <div>
                    <h1>Cadastro de acessórios</h1>
                    <p>Preencha os dados do acessorio para cadastro</p>
                </div>
                <form action="/acessorio" method="POST">
                    <div class="conteudo">
                        <div>
                            <div>
                                <label for="acessorio">Nome do acessório</label>
                                <input type="text" id="acessorio" placeholder="Capa de volante" required>
                            </div>
                        </div>
                    </div>
                    
                    <button>Cadastrar</button>
                </form>
            </div>
            <span class="linha"></span>
            <div>
                <h1>Acessórios Cadastrados</h1>
                <!-- popular com os acessorios do banco -->
                <div class="listaAcess">
                    <h3>Capa de volante</h3>
                    <h3>Capa de volante</h3>
                    <h3>Capa de volante</h3>
                    <h3>A</h3>
                    <h3>B</h3>
                    <h3>C</h3>
                    <h3>A</h3>
                    <h3>B</h3>
                    <h3>C</h3>
                    <h3>A</h3>
                    <h3>B</h3>
                    <h3>C</h3>
                    <h3>Capa de volante</h3>
                    <h3>Capa de volante</h3>
                    <h3>Capa de volante</h3>
                    <h3>A</h3>
                    <h3>B</h3>
                    <h3>C</h3>
                    <h3>A</h3>
                    <h3>B</h3>
                    <h3>C</h3>
                    <h3>A</h3>
                    <h3>B</h3>
                    <h3>C</h3>
                    <h3>Capa de volante</h3>
                    <h3>Capa de volante</h3>
                    <h3>Capa de volante</h3>
                    <h3>A</h3>
                    <h3>B</h3>
                    <h3>C</h3>
                    <h3>A</h3>
                    <h3>B</h3>
                    <h3>C</h3>
                    <h3>A</h3>
                    <h3>B</h3>
                    <h3>C</h3>
                    <h3>Capa de volante</h3>
                    <h3>Capa de volante</h3>
                    <h3>Capa de volante</h3>
                    <h3>A</h3>
                    <h3>B</h3>
                    <h3>C</h3>
                    <h3>A</h3>
                    <h3>B</h3>
                    <h3>C</h3>
                    <h3>A</h3>
                    <h3>B</h3>
                    <h3>C</h3>
                </div>
            </div>
        </section>
    </main>

    <script src="script.js"></script>
</body>
</html>