<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Oficina AutoGyn</title>
    <link rel="stylesheet" href="style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
</head>
<body>
    <main>
        <aside>
            <div>
                <img src="/img/logo.png" alt="" width="80%">
                <span class="linha"></span>
            </div>
            <nav>
                <a class="menu abrirVeiculo" id="veiculos"><img src="/img/veiculo.svg" alt="" width="20"> Veiculos</a>
                <ul class="abrirVeiculo" hidden>
                    <li><a href="veiculoCadAt">Cadastrar | Atualizar</a></li>
                    <li><a href="veiculoMarMo">Marca | Modelo</a></li>
                    <li><a href="acessorios">Acessórios</a></li>
                    <li><a href="veiculoLista">Listar Veiculos</a></li>
                </ul>
                <a href="clientes" class="selecionado"><img src="/img/cliente.svg" alt="" width="20"> Clientes</a>
                <a class="menu abrirOs" id="os"><img src="/img/ordem.svg" alt="" width="20"> Ordem de Serviço</a>
                <ul class="abrirOs" hidden>
                    <li><a href="cadastroSerPe">Serviços | Peças</a></li>
                    <li><a href="gerencOs">Gerenciamento de OS</a></li>
                    <li><a href="controleExOs">Controle de execução da OS</a></li>
                </ul>
                <!-- <a href="estoque">Estoque</a>
                <a href="controle">Controle</a> -->
            </nav>
        </aside>
        
        <section class="clientes">
            <form id="cliente-form">
                <div class="conteudoCli">
                    <div>
                        <div>
                            <div>
                                <h1>Cadastrar cliente</h1>
                                <p>Preencha os dados do cliente para cadastro</p>
                            </div>
                            <div>
                                <label for="nome">Nome</label>
                                <input type="text" id="nome" name="nome" placeholder="Cliente" required>
                            </div>
                            <div>
                                <label for="email">E-mail</label>
                                <input type="email" id="email" name="email" placeholder="cliente@gmail.com" required>
                            </div>
                            <div class="radios">
                                <div>
                                    <input type="radio" class="tipoPessoa" id="PF" name="isPJ" value="false" required>
                                    <label for="cpf">Pessoa Física</label>
                                </div>
                                <div>
                                    <input type="radio" class="tipoPessoa" id="PJ" name="isPJ" value="true" required>
                                    <label for="cnpj">Pessoa Jurídica</label>
                                </div>
                            </div>
    
                            <div class="pessoaFisica">
                                <label for="valorCpf">Cpf</label>
                                <input type="number" id="valorCpf" name="cpf" placeholder="56477765732">
                            </div>
    
                            <div class="pessoaJuridica">
                                <div>
                                    <label for="valorCnpj">Cnpj</label>
                                    <input type="number" id="valorCnpj" name="cnpj" placeholder="00000000000100">
                                </div>
    
                                <div>
                                    <label for="numInscricao">Inscrição estadual</label>
                                    <input type="number" id="numInscricao" name="inscricao_estadual" placeholder="123456789101">
                                </div>
    
                                <div>
                                    <label for="contato">Nome do contato</label>
                                    <input type="text" id="contato" name="nomeContato" placeholder="Responsável">
                                </div>
                            </div>
                            
                            <div class="telefones">
                                <label for="tel">Telefone</label>
                                <div>
                                    <div>
                                        <input type="number" id="tel" name="ddd" placeholder="(62)" required>
                                        <input type="number" id="tel" name="telefone" placeholder="940028922" required>
                                    </div>
                                    <div>
                                        <input type="number" id="tel" name="ddd2" placeholder="(62)">
                                        <input type="number" id="tel" name="telefone2" placeholder="940028922">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <span class="linha"></span>
                        <div>
                            <div class="endereco">
                                <label for="endereco">Endereço</label>
                                <input type="number" id="endereco" name="cep" placeholder="CEP" required>
                                <div style="display: flex; flex-direction: row; gap: 10px;">
                                    <input type="text" id="endereco" name="cidade" placeholder="Cidade" required>
                                    <input type="text" id="endereco" name="uf" placeholder="UF" style="width: 30%;" required>
                                    <input type="number" id="endereco" name="numero" placeholder="Nº" style="width: 30%;" required>
                                </div>
                                <input type="text" id="endereco" name="logradouro" placeholder="Logradouro" required>
                                <input type="text" id="endereco" name="complemento" placeholder="Complemento" required>
                            </div>
                            <button type="submit" >Cadastrar</button>
                        </div>
                    </div>
                </div>
    
            </form>
        </section>
    </main>

    <script src="script.js"></script>
    <script>
        const tipoPessoa = document.querySelectorAll(".tipoPessoa")
        const cpf = document.querySelector('.pessoaFisica')
        const cnpj = document.querySelector('.pessoaJuridica')
        tipoPessoa.forEach(tipo =>{
                tipo.addEventListener('click', () =>{
                    if(tipo.value == "false"){
                        cpf.setAttribute("style", "display: flex;")
                        cnpj.removeAttribute("style")
                    }

                    if(tipo.value == "true"){
                        cnpj.setAttribute("style", "display: flex;")
                        cpf.removeAttribute("style")
                    }
                })
        })

        document.getElementById('cliente-form').addEventListener('submit', function(event) {
        event.preventDefault();
        console.log("POSTANDO");

        const formData = new FormData(this);

        const formDataObj = {};
        formData.forEach((value, key) => {
            formDataObj[key] = value;
        });

        const jsonData = JSON.stringify(formDataObj);

        fetch('/cliente', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: jsonData
        })
        .then(response => {
            if (response.ok) {
                alert('Formulário enviado com sucesso!');
            } else {
                alert('Houve um erro ao enviar o formulário.');
            }
        })
        .catch(error => {
            console.error('Erro ao enviar o formulário:', error);
            alert('Erro de rede. Tente novamente mais tarde.');
        });
    });
    </script>
</body>
</html>