<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Oficina AutoGyn</title>
    <link rel="stylesheet" href="style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
</head>
<body>
    <main>
        <aside>
            <div>
                <img src="/img/logo.png" alt="" width="80%">
                <span class="linha"></span>
            </div>
            <nav>
                <a class="menu abrirVeiculo" id="veiculos"><img src="/img/veiculo.svg" alt="" width="20"> Veiculos</a>
                <ul class="abrirVeiculo" hidden>
                    <li><a href="veiculoCadAt">Cadastrar | Atualizar</a></li>
                    <li><a href="veiculoMarMo">Marca | Modelo</a></li>
                    <li><a href="acessorios">Acessórios</a></li>
                    <li><a href="veiculoLista">Listar Veiculos</a></li>
                </ul>
                <a href="clientes"><img src="/img/cliente.svg" alt="" width="20"> Clientes</a>
                <a class="menu abrirOs" id="os"><img src="/img/ordem.svg" alt="" width="20"> Ordem de Serviço</a>
                <ul class="abrirOs" hidden>
                    <li><a href="cadastroSerPe">Serviços | Peças</a></li>
                    <li><a href="gerencOs">Gerenciamento de OS</a></li>
                </ul>
                <a href="estoque" class="selecionado"><img src="/img/estoque.svg" alt="" width="20">Estoque</a>
            </nav>
        </aside>
    
        <section class="osLista">
            <div>
                <h1>Peças no estoque</h1>
                <!-- verificar o get direitinho -->
                <!-- arrumar a listagem -->
                <div class="listaOs">
                    <div class="osIndex">
                        <div>
                            <h2>Nome Cliente</h2>
                            <span class="linhaDois"></span>
                        </div>
                        <div class="ordemServico">
                            <div>
                                <p>Veiculo</p>
                                <h3>Modelo (Marca) YYYY</h3>
                            </div>
                            <div>
                                <p>Data</p>
                                <h3>24/11/2024</h3>
                            </div>
                            <div>
                                <p>Valor Total</p>
                                <h3>R$100,00</h3>
                            </div>
                            <div>
                                <p>Status</p>
                                <h3>Aprovação</h3>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>

    <script src="script.js"></script>
    <script>    
        // document.addEventListener('DOMContentLoaded', function() {
        //     // mudar endpoint
        //     fetch('/ordem-servico')
        //         .then(response => response.json())
        //         .then(data => {
        //             const container = document.querySelector('.listaOs');
                    
        //             data.forEach(ordem => {
        //                 const ordemHtml = `
        //                     <div>
        //                         <div>
        //                             <h2>${ordem.nomeCliente}</h2>
        //                             <span class="linhaDois"></span>
        //                         </div>
        //                         <div class="ordemServico">
        //                             <div>
        //                                 <p>Veículo</p>
        //                                 <h3>${ordem.veiculo}</h3>
        //                             </div>
        //                             <div>
        //                                 <p>Data</p>
        //                                 <h3>${ordem.data}</h3>
        //                             </div>
        //                             <div>
        //                                 <p>Valor Total</p>
        //                                 <h3>R$${ordem.valorTotal.toFixed(2)}</h3>
        //                             </div>
        //                             <div>
        //                                 <p>Status</p>
        //                                 <h3>${ordem.status}</h3>
        //                             </div>
        //                         </div>
        //                     </div>
        //                 `;
        //                 container.innerHTML += ordemHtml;
        //             });
        //         })
        //         .catch(error => {
        //             console.error('Erro ao buscar as ordens de serviço:', error);
        //             document.querySelector('.listaOs').innerHTML = '<p>Erro ao carregar as ordens de serviço.</p>';
        //         });
        // });


        // document.getElementById('edicaoOs-form').addEventListener('submit', function(event) {
        //     event.preventDefault();

        //     const formData = new FormData(this);

        //     const formDataObj = {};
        //     formData.forEach((value, key) => {
        //         formDataObj[key] = value;
        //     });

        //     const jsonData = JSON.stringify(formDataObj);

        //     // mudar endpoint
        //     fetch('/veiculo/marca', {
        //         method: 'POST',
        //         headers: {
        //             'Content-Type': 'application/json'
        //         },
        //         body: jsonData
        //     })
        //     .then(response => {
        //         if (response.ok) {
        //             alert('Os editada com sucesso!');
        //         } else {
        //             alert('Houve um erro ao enviar o formulário.');
        //         }
        //     })
        //     .catch(error => {
        //         console.error('Erro ao enviar o formulário:', error);
        //         alert('Erro de rede. Tente novamente mais tarde.');
        //     });
        // });
    </script>
</body>
</html>