<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Oficina AutoGyn</title>
    <link rel="stylesheet" href="style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
</head>
<body>
    <main>
        <aside>
            <div>
                <img src="/img/logo.png" alt="" width="80%">
                <span class="linha"></span>
            </div>
            <nav>
                <a class="menu abrirVeiculo" id="veiculos"><img src="/img/veiculo.svg" alt="" width="20"> Veiculos</a>
                <ul class="abrirVeiculo" hidden>
                    <li><a href="veiculoCadAt">Cadastrar | Atualizar</a></li>
                    <li><a href="veiculoMarMo">Marca | Modelo</a></li>
                    <li><a href="acessorios">Acessórios</a></li>
                    <li><a href="veiculoLista">Listar Veiculos</a></li>
                </ul>
                <a href="clientes"><img src="/img/cliente.svg" alt="" width="20"> Clientes</a>
                <a class="menu abrirOs" id="os"><img src="/img/ordem.svg" alt="" width="20"> Ordem de Serviço</a>
                <ul class="abrirOs" hidden>
                    <li><a href="cadastroSerPe">Serviços | Peças</a></li>
                    <li><a href="cadastroColab">Colaborador</a></li>                  
                    <li><a href="gerencOs">Gerenciamento de OS</a></li>
                </ul>
                <a href="estoque" class="selecionado"><img src="/img/estoque.svg" alt="" width="20">Estoque</a>
            </nav>
        </aside>
    
        <!-- VERIFICAR O PATCH -->
        <section class="estoqueLista">
            <div>
                <h1>Peças no estoque</h1>
                <div class="listaEstoque">
                    <div class="estoqueIndex" id="0">
                        <div>
                            <h2>Nome Peça</h2>
                            <span class="linhaDois"></span>
                        </div>
                        <div class="estoquePeca">
                            <div>
                                <p>Codigo</p>
                                <h3>123</h3>
                            </div>
                            <div>
                                <p>Sku</p>
                                <h3>456</h3>
                            </div>
                            <div>
                                <p>Quantidade no estoque</p>
                                <h3>10</h3>
                            </div>
                            <div>
                                <p>Valor Unitário</p>
                                <h3>R$100,00</h3>
                            </div>
                        </div>
                    </div>
                    <div class="estoqueIndex" id="1">
                        <div>
                            <h2>Nome Peça</h2>
                            <span class="linhaDois"></span>
                        </div>
                        <div class="estoquePeca">
                            <div>
                                <p>Codigo</p>
                                <h3>123</h3>
                            </div>
                            <div>
                                <p>Sku</p>
                                <h3>456</h3>
                            </div>
                            <div>
                                <p>Quantidade no estoque</p>
                                <h3>10</h3>
                            </div>
                            <div>
                                <p>Valor Unitário</p>
                                <h3>R$100,00</h3>
                            </div>
                        </div>
                    </div>
                    <div class="estoqueIndex" id="2">
                        <div>
                            <h2>Nome Peça</h2>
                            <span class="linhaDois"></span>
                        </div>
                        <div class="estoquePeca">
                            <div>
                                <p>Codigo</p>
                                <h3>123</h3>
                            </div>
                            <div>
                                <p>Sku</p>
                                <h3>456</h3>
                            </div>
                            <div>
                                <p>Quantidade no estoque</p>
                                <h3>10</h3>
                            </div>
                            <div>
                                <p>Valor Unitário</p>
                                <h3>R$100,00</h3>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <form class="edicaoEstoque" style="display: none;" id="estoque-form">
                <h1>Peça: Nome peça</h1>
                <div>
                    <label for="novaQntEstoque">Alterar quantidade no estoque</label>
                    <div>
                        <input type="number" id="antigaQntEstoque" value="50" disabled>
                        <input type="number" id="novaQntEstoque" name="quantidadeEstoque" placeholder="-10">
                    </div>
                </div>

                <div>
                    <label for="novoValorUnit">Alterar valor unitario</label>
                    <div>
                        <input type="text" id="antigoValorUnit" value="R$ 120,00" disabled>
                        <input type="number" id="novoValorUnit" name="valorUnitario" placeholder="100,00">
                    </div>
                </div>
                <div>
                    <button type="button">Cancelar</button>
                    <button>Atualizar</button>
                </div>
            </form>
        </section>
    </main>

    <script src="script.js"></script>
    <script>    
        // document.addEventListener('DOMContentLoaded', getPecas());

        const estoque = document.querySelectorAll('.estoqueIndex')
        const edicaoEstoque = document.querySelector('.edicaoEstoque')
        estoque.forEach(aberta =>{
            aberta.addEventListener('click', () =>{
                edicaoEstoque.removeAttribute("style")
                aberta.parentNode.parentNode.setAttribute('style', 'display: none')
                getPecaAlter(aberta.id)
            })
        })

        edicaoEstoque.parentNode.children[1].children[3].children[0].addEventListener('click', () =>{
            estoque.forEach(aberta =>{
                aberta.parentNode.parentNode.removeAttribute('style')
            })
            edicaoEstoque.setAttribute('style', 'display: none')
        })

        function getPecas() {
            const container = document.querySelector('.listaEstoque');
            container.innerHTML = '';
            
            fetch('/peca')
                .then(response => {
                    if (!response.ok) {
                        throw new Error('Erro na resposta da rede');
                    }
                    return response.json();
                })
                .then(data => {
                    if (!data.length) {
                        container.innerHTML = '<p>Nenhuma peça cadastrada ainda.</p>';
                    }
                    
                    data.forEach(peca => {
                        const pecaHtml = `
                            <div class="estoqueIndex" id="${peca.id}">
                                <div>
                                    <h2>${peca.descricao}</h2>
                                    <span class="linhaDois"></span>
                                </div>
                                <div class="estoquePeca">
                                    <div>
                                        <p>Código</p>
                                        <h3>${peca.codigo}</h3>
                                    </div>
                                    <div>
                                        <p>Sku</p>
                                        <h3>${peca.sku}</h3>
                                    </div>
                                    <div>
                                        <p>Quantidade no estoque</p>
                                        <h3>${peca.quantidadeEstoque}</h3>
                                    </div>
                                    <div>
                                        <p>Valor Unitário</p>
                                        <h3>R$ ${peca.valorUnitario.toFixed(2).replace('.', ',')}</h3>
                                    </div>
                                </div>
                            </div>
                        `;
                        container.innerHTML += pecaHtml;
                    });
                })
                .catch(error => {
                    console.error('Erro ao buscar a lista de peças:', error);
                    container.innerHTML = '<p>Erro ao carregar a lista de peças.</p>';
                });
        }

        function getPecaAlter(idPeca) {
            const edicaoEstoque = document.querySelector('.edicaoEstoque');
            edicaoEstoque.children[0].classList.remove(...edicaoEstoque.children[0].classList);
            edicaoEstoque.children[0].classList.add(idPeca);
            console.log(edicaoEstoque);
        }

        document.getElementById('estoque-form').addEventListener('submit', function(event) {
            event.preventDefault();
            const edicaoEstoque = document.querySelector('.edicaoEstoque');

            const formData = new FormData(this);

            const formDataObj = {};
            formData.forEach((value, key) => {
                formDataObj[key] = value;
            });

            const jsonData = JSON.stringify(formDataObj);

            fetch(`/peca/${edicaoEstoque.children[0].classList[0]}`, {
                method: 'PATCH',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: jsonData
            })
            .then(response => {
                if (response.ok) {
                    alert('Peça alterada com sucesso!');
                    getPecas();
                    this.reset();
                } else {
                    alert('Houve um erro ao enviar o formulário.');
                }
            })
            .catch(error => {
                console.error('Erro ao enviar o formulário:', error);
                alert('Erro de rede. Tente novamente mais tarde.');
            });
        });
    </script>
</body>
</html>