<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Oficina AutoGyn</title>
    <link rel="stylesheet" href="style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
        rel="stylesheet">
</head>

<body>
    <main>
        <aside>
            <div>
                <img src="/img/logo.png" alt="" width="80%">
                <span class="linha"></span>
            </div>
            <nav>
                <a class="menu abrirVeiculo" id="veiculos"><img src="/img/veiculo.svg" alt="" width="20"> Veiculos</a>
                <ul class="abrirVeiculo" hidden>
                    <li><a href="veiculoCadAt">Cadastrar | Atualizar</a></li>
                    <li><a href="veiculoMarMo">Marca | Modelo</a></li>
                    <li><a href="acessorios">Acessórios</a></li>
                    <li><a href="veiculoLista">Listar Veiculos</a></li>
                </ul>
                <a href="clientes"><img src="/img/cliente.svg" alt="" width="20"> Clientes</a>
                <a class="menu abrirOs" id="os"><img src="/img/ordem.svg" alt="" width="20"> Ordem de Serviço</a>
                <ul class="abrirOs">
                    <li><a href="cadastroSerPe">Serviços | Peças</a></li>
                    <li><a href="cadastroColab">Colaborador</a></li>
                    <li><a href="gerencOs" class="selecionado">Gerenciamento de OS</a></li>
                </ul>
                <a href="estoque"><img src="/img/estoque.svg" alt="" width="20">Estoque</a>
            </nav>
        </aside>

        <section class="osLista">
            <form id="os-form">
                <div class="conteudo">
                    <div>
                        <div>
                            <div>
                                <h1>Cadastrar ordem de serviço</h1>
                                <p>Preencha os dados da OS para cadastro</p>
                            </div>
                            <div class="veiculoSelect">
                                <select name="veiculo" id="veiculo" required>
                                    <option value="" disabled selected hidden>Selecione o Veiculo</option>
                                    <option value="fiat">Fiat</option>
                                    <option value="ford">Ford</option>
                                    <option value="chevrolet">Chevrolet</option>
                                    <option value="volkswagen">Volkswagen</option>
                                    <option value="toyota">Toyota</option>
                                    <option value="honda">Honda</option>
                                    <option value="nissan">Nissan</option>
                                    <option value="bmw">BMW</option>
                                    <option value="mercedes_benz">Mercedes-Benz</option>
                                    <option value="audi">Audi</option>
                                </select>
                            </div>
                            <div>
                                <label for="orcamento">Valor do Orçamento</label>
                                <input type="number" id="orcamento" placeholder="1200" required>
                            </div>
                            <span class="linha"></span>
                            <div>
                                <!-- SERVICO -> COLABORADOR -->
                                <!-- PEÇA -> QUANTIDADE -->
                                <button type="submit">Cadastrar</button>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
            
            <span class="linhaDois"></span>

            <div>
                <h1>Ordem de Serviço no sistema</h1>
                <!-- verificar o get direitinho -->
                <div class="listaOs">
                    <div class="osIndex" id="0">
                        <div>
                            <h2>Nome Cliente</h2>
                            <span class="linhaDois"></span>
                        </div>
                        <div class="ordemServico">
                            <div>
                                <p>Veiculo</p>
                                <h3>Modelo (Marca) YYYY</h3>
                            </div>
                            <div>
                                <p>Data</p>
                                <h3>24/11/2024</h3>
                            </div>
                            <div>
                                <p>Valor Total</p>
                                <h3>R$100,00</h3>
                            </div>
                            <div>
                                <p>Status</p>
                                <h3>Aprovação</h3>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- em orçamento add peças e serviço -->
            <!-- o resto apenas o estado -->
            <!-- estado finalização -> paga | pago nao mexe em nd -->
            <!-- fzr o fetch do form -->
            <form class="edicaoOs" style="display: none;" id="edicaoOs-form">
                <h1>Ordem de Serviço: Cliente tal</h1>
                <div class="selecaoAcess">
                    <div class="select-box">
                        <label for="" class="abrirMultiSelect">Selecione as peças utilizadas</label>
                        <ul>
                            <li><label><input type="checkbox" value="1"> Opção 1</label></li>
                            <li><label><input type="checkbox" value="2"> Opção 2</label></li>
                            <li><label><input type="checkbox" value="3"> Opção 3</label></li>
                            <li><label><input type="checkbox" value="4"> Opção 4</label></li>
                            <li><label><input type="checkbox" value="5"> Opção 5</label></li>
                        </ul>
                    </div>
                    <p class="selected-options">Peças:</p>
                </div>

                <div class="selecaoAcess">
                    <div class="select-box">
                        <label for="" class="abrirMultiSelect">Selecione os serviços feitos</label>
                        <ul>
                            <li><label><input type="checkbox" value="1"> Opção 1</label></li>
                            <li><label><input type="checkbox" value="2"> Opção 2</label></li>
                            <li><label><input type="checkbox" value="3"> Opção 3</label></li>
                            <li><label><input type="checkbox" value="4"> Opção 4</label></li>
                            <li><label><input type="checkbox" value="5"> Opção 5</label></li>
                        </ul>
                    </div>
                    <p class="selected-options">Serviços:</p>
                </div>

                <div>
                    <select name="modelo" id="modelo" required>
                        <option value="" disabled selected hidden>Status Atual</option>
                        <option value="fiat">Orçamento</option>
                        <option value="ford">Aprovação</option>
                        <option value="chevrolet">Execução</option>
                        <option value="volkswagen">Finalização</option>
                        <option value="volkswagen">Pago</option>
                    </select>
                </div>

                <div>
                    <label for="pagamento">Valor pago</label>
                    <input type="number" id="pagamento" placeholder="5000" required>
                </div>

                <div>
                    <button type="button">Cancelar</button>
                    <button>Atualizar</button>
                </div>
            </form>
        </section>
    </main>

    <script src="script.js"></script>
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            const container = document.querySelector('.listaOs');
            container.innerHTML = ''

            // Mudar endpoint
            fetch('/ordem-servico')
                .then(response => response.json())
                .then(data => {
                    if (!data.length) {
                        container.innerHTML = '<p>Nenhuma OS cadastrada ainda.</p>';
                    }

                    data.forEach(ordem => {
                        const ordemHtml = `
                            <div class="osIndex" id="${ordem.id}">
                                <div>
                                    <h2>${ordem.nomeCliente}</h2>
                                    <span class="linhaDois"></span>
                                </div>
                                <div class="ordemServico">
                                    <div>
                                        <p>Veículo</p>
                                        <h3>${ordem.veiculo}</h3>
                                    </div>
                                    <div>
                                        <p>Data</p>
                                        <h3>${ordem.data}</h3>
                                    </div>
                                    <div>
                                        <p>Valor Total</p>
                                        <h3>R$ ${ordem.valorTotal.toFixed(2).replace('.', ',')}</h3>
                                    </div>
                                    <div>
                                        <p>Status</p>
                                        <h3>${ordem.status}</h3>
                                    </div>
                                </div>
                            </div>
                        `;
                        container.innerHTML += ordemHtml;
                    });
                })
                .catch(error => {
                    console.error('Erro ao buscar as ordens de serviço:', error);
                    document.querySelector('.listaOs').innerHTML = '<p>Erro ao carregar as ordens de serviço.</p>';
                });
        });

        // dps arrumar
        const selectBoxes = document.querySelectorAll('.abrirMultiSelect');
        const selectedOptionsDivs = document.querySelectorAll('.selected-options');

        selectBoxes.forEach((selecionado, index) => {
            selecionado.addEventListener('click', function () {
                selecionado.parentNode.classList.toggle('open');
            });
        });

        const checkboxGroups = document.querySelectorAll('.select-box');

        checkboxGroups.forEach((checkboxGroup, index) => {
            const checkboxes = checkboxGroup.querySelectorAll('input[type="checkbox"]');
            const selectedOptionsDiv = selectedOptionsDivs[index];

            checkboxes.forEach(checkbox => {
                checkbox.addEventListener('change', function () {
                    const selected = [];
                    checkboxes.forEach(cb => {
                        if (cb.checked) {
                            selected.push(cb.parentElement.textContent.trim());
                        }
                    });

                    selectedOptionsDiv.textContent = `Acessórios: ${selected.join(', ')}`;
                });
            });
        });

        const os = document.querySelectorAll('.osIndex')
        const editorOs = document.querySelector('.edicaoOs')
        os.forEach(aberta => {
            aberta.addEventListener('click', () => {
                editorOs.removeAttribute("style")
                aberta.parentNode.parentNode.setAttribute('style', 'display: none')
                getOsAlter(aberta.id)
            })
        })

        editorOs.parentNode.children[1].children[5].children[0].addEventListener('click', () => {
            os.forEach(aberta => {
                aberta.parentNode.parentNode.removeAttribute('style')
            })
            editorOs.setAttribute('style', 'display: none')
        })

        function getOsAlter(idOs) {
            const edicaoOs = document.querySelector('.edicaoOs');
            edicaoOs.children[0].classList.remove(...edicaoOs.children[0].classList);
            edicaoOs.children[0].classList.add(idOs);
            console.log(edicaoOs);
        }

        document.getElementById('edicaoOs-form').addEventListener('submit', function (event) {
            event.preventDefault();
            const edicaoOs = document.querySelector('.edicaoOs');

            const formData = new FormData(this);

            const formDataObj = {};
            formData.forEach((value, key) => {
                formDataObj[key] = value;
            });

            const jsonData = JSON.stringify(formDataObj);

            // Mudar endpoint
            fetch(`/ordem-servico/${edicaoOs.children[0].classList[0]}`, {
                method: 'PATCH',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: jsonData
            })
                .then(response => {
                    if (response.ok) {
                        alert('Ordem de serviço editada com sucesso!');
                    } else {
                        alert('Houve um erro ao enviar o formulário.');
                    }
                })
                .catch(error => {
                    console.error('Erro ao enviar o formulário:', error);
                    alert('Erro de rede. Tente novamente mais tarde.');
                });
        });

    </script>
</body>

</html>