<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Oficina AutoGyn</title>
    <link rel="stylesheet" href="style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
</head>
<body>
    <main>
        <aside>
            <div>
                <img src="/img/logo.png" alt="" width="80%">
                <span class="linha"></span>
            </div>
            <nav>
                <a class="menu abrirVeiculo" id="veiculos"><img src="/img/veiculo.svg" alt="" width="20"> Veiculos</a>
                <ul class="abrirVeiculo" hidden>
                    <li><a href="veiculoCadAt">Cadastrar | Atualizar</a></li>
                    <li><a href="veiculoMarMo">Marca | Modelo</a></li>
                    <li><a href="acessorios">Acessórios</a></li>
                    <li><a href="veiculoLista">Listar Veiculos</a></li>
                </ul>
                <a href="clientes"><img src="/img/cliente.svg" alt="" width="20"> Clientes</a>
                <a class="menu abrirOs" id="os"><img src="/img/ordem.svg" alt="" width="20"> Ordem de Serviço</a>
                <ul class="abrirOs">
                    <li><a href="cadastroServico">Serviços</a></li>
                    <li><a href="cadastroPeca">Peças</a></li>
                    <li><a href="gerencOs">Gerenciamento de OS</a></li>
                    <li><a href="controleExOs">Controle de execução da OS</a></li>
                </ul>
                <!-- <a href="estoque">Estoque</a>
                <a href="controle">Controle</a> -->
            </nav>
        </aside>
    
        <!-- clicavel pra editar -->
        <section class="osLista">
            <div>
                <h1>Ordem de Serviço no sistema</h1>
                <!-- popular com os veiculos do banco -->
                <div class="listaOs">
                    <div>
                        <div>
                            <h2>Nome Cliente</h2>
                            <span class="linhaDois"></span>
                        </div>
                        <div class="ordemServico">
                            <div>
                                <p>Veiculo</p>
                                <h3>Modelo (Marca) YYYY</h3>
                            </div>
                            <div>
                                <p>Data</p>
                                <h3>24/11/2024</h3>
                            </div>
                            <div>
                                <p>Valor Total</p>
                                <h3>R$100,00</h3>
                            </div>
                            <div>
                                <p>Status</p>
                                <h3>Aprovação</h3>
                            </div>
                        </div>
                    </div>
                    <div>
                        <div>
                            <h2>Nome Cliente</h2>
                            <span class="linhaDois"></span>
                        </div>
                        <div class="ordemServico">
                            <div>
                                <p>Veiculo</p>
                                <h3>Modelo (Marca) YYYY</h3>
                            </div>
                            <div>
                                <p>Data</p>
                                <h3>24/11/2024</h3>
                            </div>
                            <div>
                                <p>Valor Total</p>
                                <h3>R$100,00</h3>
                            </div>
                            <div>
                                <p>Status</p>
                                <h3>Aprovação</h3>
                            </div>
                        </div>
                    </div>
                    <div>
                        <div>
                            <h2>Nome Cliente</h2>
                            <span class="linhaDois"></span>
                        </div>
                        <div class="ordemServico">
                            <div>
                                <p>Veiculo</p>
                                <h3>Modelo (Marca) YYYY</h3>
                            </div>
                            <div>
                                <p>Data</p>
                                <h3>24/11/2024</h3>
                            </div>
                            <div>
                                <p>Valor Total</p>
                                <h3>R$100,00</h3>
                            </div>
                            <div>
                                <p>Status</p>
                                <h3>Aprovação</h3>
                            </div>
                        </div>
                    </div>
                    <div>
                        <div>
                            <h2>Nome Cliente</h2>
                            <span class="linhaDois"></span>
                        </div>
                        <div class="ordemServico">
                            <div>
                                <p>Veiculo</p>
                                <h3>Modelo (Marca) YYYY</h3>
                            </div>
                            <div>
                                <p>Data</p>
                                <h3>24/11/2024</h3>
                            </div>
                            <div>
                                <p>Valor Total</p>
                                <h3>R$100,00</h3>
                            </div>
                            <div>
                                <p>Status</p>
                                <h3>Aprovação</h3>
                            </div>
                        </div>
                    </div>
                    <div>
                        <div>
                            <h2>Nome Cliente</h2>
                            <span class="linhaDois"></span>
                        </div>
                        <div class="ordemServico">
                            <div>
                                <p>Veiculo</p>
                                <h3>Modelo (Marca) YYYY</h3>
                            </div>
                            <div>
                                <p>Data</p>
                                <h3>24/11/2024</h3>
                            </div>
                            <div>
                                <p>Valor Total</p>
                                <h3>R$100,00</h3>
                            </div>
                            <div>
                                <p>Status</p>
                                <h3>Aprovação</h3>
                            </div>
                        </div>
                    </div>
                    <div>
                        <div>
                            <h2>Nome Cliente</h2>
                            <span class="linhaDois"></span>
                        </div>
                        <div class="ordemServico">
                            <div>
                                <p>Veiculo</p>
                                <h3>Modelo (Marca) YYYY</h3>
                            </div>
                            <div>
                                <p>Data</p>
                                <h3>24/11/2024</h3>
                            </div>
                            <div>
                                <p>Valor Total</p>
                                <h3>R$100,00</h3>
                            </div>
                            <div>
                                <p>Status</p>
                                <h3>Aprovação</h3>
                            </div>
                        </div>
                    </div>
                    <div>
                        <div>
                            <h2>Nome Cliente</h2>
                            <span class="linhaDois"></span>
                        </div>
                        <div class="ordemServico">
                            <div>
                                <p>Veiculo</p>
                                <h3>Modelo (Marca) YYYY</h3>
                            </div>
                            <div>
                                <p>Data</p>
                                <h3>24/11/2024</h3>
                            </div>
                            <div>
                                <p>Valor Total</p>
                                <h3>R$100,00</h3>
                            </div>
                            <div>
                                <p>Status</p>
                                <h3>Aprovação</h3>
                            </div>
                        </div>
                    </div>

                </div>
            </div>

            <!-- em orçamento add peças e serviço -->
            <!-- o resto apenas o estado -->
            <!-- estado finalização -> paga | pago nao mexe em nd -->
            <form class="edicaoOs" style="display: none;">
                <h1>Ordem de Serviço: Cliente tal</h1>
                <div class="selecaoAcess">
                    <div class="select-box">
                        <label for="" class="abrirMultiSelect">Selecione as peças utilizadas</label>
                        <ul>
                        <li><label><input type="checkbox" value="1"> Opção 1</label></li>
                        <li><label><input type="checkbox" value="2"> Opção 2</label></li>
                        <li><label><input type="checkbox" value="3"> Opção 3</label></li>
                        <li><label><input type="checkbox" value="4"> Opção 4</label></li>
                        <li><label><input type="checkbox" value="5"> Opção 5</label></li>
                        </ul>
                    </div>
                    <p class="selected-options">Peças:</p>
                </div>

                <div class="selecaoAcess">
                    <div class="select-box">
                        <label for="" class="abrirMultiSelect">Selecione os serviços feitos</label>
                        <ul>
                        <li><label><input type="checkbox" value="1"> Opção 1</label></li>
                        <li><label><input type="checkbox" value="2"> Opção 2</label></li>
                        <li><label><input type="checkbox" value="3"> Opção 3</label></li>
                        <li><label><input type="checkbox" value="4"> Opção 4</label></li>
                        <li><label><input type="checkbox" value="5"> Opção 5</label></li>
                        </ul>
                    </div>
                    <p class="selected-options">Serviços:</p>
                </div>

                <div>
                    <select name="modelo" id="modelo" required>
                        <option value="" disabled selected hidden>Status Atual</option>
                        <option value="fiat">Orçamento</option>
                        <option value="ford">Aprovação</option>
                        <option value="chevrolet">Execução</option>
                        <option value="volkswagen">Finalização</option>
                        <option value="volkswagen">Pago</option>
                    </select>
                </div>

                <div>
                    <label for="pagamento">Valor pago</label>
                    <input type="number" id="pagamento" placeholder="5000" required>
                </div>

                <div>
                    <button type="button">Cancelar</button>
                    <button>Atualizar</button>
                </div>
            </form>
        </section>
    </main>

    <script src="script.js"></script>
    <script>
        // dps arrumar
        const selectBox = document.querySelector('.abrirMultiSelect');
        const optionsList = document.querySelector('.select-box ul');
        const selectedOptionsDiv = document.querySelector('.selected-options');

        selectBox.addEventListener('click', function() {
            selectBox.parentNode.classList.toggle('open')
        });

        const checkboxes = document.querySelectorAll('.select-box input[type="checkbox"]');
        checkboxes.forEach(checkbox => {
            checkbox.addEventListener('change', function() {
            const selected = [];
            checkboxes.forEach(cb => {
                if (cb.checked) {
                selected.push(cb.parentElement.textContent.trim());
                }
            });
            selectedOptionsDiv.textContent = `Acessórios: ${selected.join(', ')}`;
            });
        });

        // mostrar o certo
        const os = document.querySelectorAll('.listaOs')
        const editorOs = document.querySelector('.edicaoOs')
        os.forEach(aberta =>{
            aberta.addEventListener('click', () =>{
                editorOs.removeAttribute("style")
                aberta.parentNode.setAttribute('style', 'display: none')
            })
        })

        editorOs.parentNode.children[1].children[5].children[0].addEventListener('click', () =>{
            os.forEach(aberta =>{
                aberta.parentNode.removeAttribute("style")
            })
            editorOs.setAttribute('style', 'display: none')
        })
    </script>
</body>
</html>