<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Oficina AutoGyn</title>
    <link rel="stylesheet" href="style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
</head>
<body>
    <main>
        <aside>
            <div>
                <img src="/img/logo.png" alt="" width="80%">
                <span class="linha"></span>
            </div>
            <nav>
                <a class="menu abrirVeiculo" id="veiculos">Veiculos</a>
                <ul class="abrirVeiculo">
                    <li><a href="veiculoCadAt.html">Cadastrar | Atualizar</a></li>
                    <li><a href="veiculoMarMo.html" class="selecionado">Marca | Modelo</a></li>
                    <li><a href="veiculoLista.html">Listar Veiculos</a></li>
                </ul>
                <a href="clientes.html">Clientes</a>
                <!-- <a class="menu abrirOs" id="os">Ordem de Serviço</a>
                <ul class="abrirOs" hidden>
                    <li><a href="gerencOs.html" class="subMenu gerencOs">Gerenciamento de OS</a></li>
                    <li><a href="controleExOs.html" class="subMenu">Controle de execução da OS</a></li>
                </ul>
                <a href="estoque.html">Estoque</a>
                <a href="controle.html">Controle</a> -->
            </nav>
        </aside>
    
        <section class="veiculoMarMo">
            <div>
                <div>
                    <div>
                        <h1>Cadastro de marca</h1>
                        <p>Preencha os dados da marca para cadastro</p>
                    </div>
                    <form action="/marca" method="POST">
                        <div class="conteudo">
                            <div>
                                <div>
                                    <label for="marca">Nome da marca</label>
                                    <input type="text" id="marca" placeholder="Fiat" required>
                                </div>
                            </div>
                        </div>
                        
                        <button>Cadastrar</button>
                    </form>
                </div>
                <div>
                    <div>
                        <h1>Cadastro de modelo</h1>
                        <p>Preencha os dados do modelo para cadastro</p>
                    </div>
                    <form action="/modelo" method="POST">
                        <div class="conteudo">
                            <select name="marca" id="marca" required>
                                <option value="" disabled selected hidden>Selecione a Marca</option>
                                <option value="fiat">Fiat</option>
                                <option value="ford">Ford</option>
                                <option value="chevrolet">Chevrolet</option>
                                <option value="volkswagen">Volkswagen</option>
                                <option value="toyota">Toyota</option>
                                <option value="honda">Honda</option>
                                <option value="nissan">Nissan</option>
                                <option value="bmw">BMW</option>
                                <option value="mercedes_benz">Mercedes-Benz</option>
                                <option value="audi">Audi</option>
                            </select>

                            <div>
                                <div>
                                    <label for="modelo">Nome do modelo</label>
                                    <input type="text" id="modelo" placeholder="Fiat Argo" required>
                                </div>
                            </div>
            
                        </div>
            
                        <button>Cadastrar</button>
                    </form>
                </div>
            </div>
            <span class="linha"></span>
            <div>
                <h1>Modelos e Marcas Cadastrados</h1>
                <!-- popular com as marcas/modelos do banco -->
                <div class="listaCarros">
                    <div>
                        <h2>Marca</h2>
                        <div>
                            <p>Modelo:</p>
                            <span class="linhaDois"></span>
                        </div>
                        <div class="modelos">
                            <h3>A</h3>
                            <h3>B</h3>
                            <h3>C</h3>
                        </div>
                    </div>
                    <div>
                        <h2>Marca</h2>
                        <div>
                            <p>Modelo:</p>
                            <span class="linhaDois"></span>
                        </div>
                        <div class="modelos">
                            <h3>A</h3>
                            <h3>B</h3>
                            <h3>C</h3>
                        </div>
                    </div>
                    <div>
                        <h2>Marca</h2>
                        <div>
                            <p>Modelo:</p>
                            <span class="linhaDois"></span>
                        </div>
                        <div class="modelos">
                            <h3>A</h3>
                            <h3>B</h3>
                            <h3>C</h3>
                        </div>
                    </div>
                    <div>
                        <h2>Marca</h2>
                        <div>
                            <p>Modelo:</p>
                            <span class="linhaDois"></span>
                        </div>
                        <div class="modelos">
                            <h3>A</h3>
                            <h3>B</h3>
                            <h3>C</h3>
                        </div>
                    </div>
                    <div>
                        <h2>Marca</h2>
                        <div>
                            <p>Modelo:</p>
                            <span class="linhaDois"></span>
                        </div>
                        <div class="modelos">
                            <h3>A</h3>
                            <h3>B</h3>
                            <h3>C</h3>
                        </div>
                    </div>
                    <div>
                        <h2>Marca</h2>
                        <div>
                            <p>Modelo:</p>
                            <span class="linhaDois"></span>
                        </div>
                        <div class="modelos">
                            <h3>A</h3>
                            <h3>B</h3>
                            <h3>C</h3>
                        </div>
                    </div>

                </div>
            </div>
        </section>
    </main>

    <script src="script.js"></script>
</body>
</html>