<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Oficina AutoGyn</title>
    <link rel="stylesheet" href="style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
</head>
<body>
    <main>
        <aside>
            <div>
                <img src="/img/logo.png" alt="" width="80%">
                <span class="linha"></span>
            </div>
            <nav>
                <a class="menu abrirVeiculo" id="veiculos"><img src="/img/veiculo.svg" alt="" width="20"> Veiculos</a>
                <ul class="abrirVeiculo">
                    <li><a href="veiculoCadAt">Cadastrar | Atualizar</a></li>
                    <li><a href="veiculoMarMo" class="selecionado">Marca | Modelo</a></li>
                    <li><a href="acessorios">Acessórios</a></li>
                    <li><a href="veiculoLista">Listar Veiculos</a></li>
                </ul>
                <a href="clientes"><img src="/img/cliente.svg" alt="" width="20"> Clientes</a>
                <a class="menu abrirOs" id="os"><img src="/img/ordem.svg" alt="" width="20"> Ordem de Serviço</a>
                <ul class="abrirOs" hidden>
                    <li><a href="cadastroSerPe">Serviços | Peças</a></li>
                    <li><a href="cadastroColab">Colaborador</a></li>
                    <li><a href="gerencOs">Gerenciamento de OS</a></li>
                </ul>
                <a href="estoque"><img src="/img/estoque.svg" alt="" width="20">Estoque</a>
            </nav>
        </aside>
    
        <section class="veiculoMarMo">
            <div>
                <div>
                    <div>
                        <h1>Cadastro de marca</h1>
                        <p>Preencha os dados da marca para cadastro</p>
                    </div>
                    <form id="marca-form">
                        <div class="conteudo">
                            <div>
                                <div>
                                    <label for="marca">Nome da marca</label>
                                    <input type="text" id="marca" name="marca" placeholder="Fiat" required>
                                </div>
                            </div>
                        </div>
                        
                        <button>Cadastrar</button>
                    </form>
                </div>
                <div>
                    <div>
                        <h1>Cadastro de modelo</h1>
                        <p>Preencha os dados do modelo para cadastro</p>
                    </div>

                    <form id="modelo-form">
                        <div class="conteudo">
                            <div class="addSelect">
                                <select name="idMarca" id="selectMarca" required>
                                    <!-- populado pelo back -->
                                </select>
                            </div>

                            <div>
                                <div>
                                    <label for="modelo">Nome do modelo</label>
                                    <input type="text" id="modelo" name="nomeModelo" placeholder="Fiat Argo" required>
                                </div>
                            </div>
            
                        </div>
            
                        <button>Cadastrar</button>
                    </form>
                </div>
            </div>
            <span class="linha"></span>
            <div>
                <h1>Modelos e Marcas Cadastrados</h1>
                <div class="listaCarros">
                    <!-- populado pelo back -->
                </div>
            </div>
        </section>
    </main>

    <script src="script.js"></script>
    <script>
        document.addEventListener('DOMContentLoaded', () => {
            getMarcas();
            getVeiculos();
        });

        document.getElementById('marca-form').addEventListener('submit', function(event) {
            event.preventDefault();

            const formData = new FormData(this);

            const formDataObj = {};
            formData.forEach((value, key) => {
                formDataObj[key] = value;
            });

            const jsonData = JSON.stringify(formDataObj);

            fetch('/veiculo/marca', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: jsonData
            })
            .then(response => {
                if (response.ok) {
                    alert('marca cadastrada com sucesso!');
                    getVeiculos()
                    getMarcas()
                    this.reset();
                } else {
                    alert('Houve um erro ao enviar o formulário.');
                }
            })
            .catch(error => {
                console.error('Erro ao enviar o formulário:', error);
                alert('Erro de rede. Tente novamente mais tarde.');
            });
        });

        document.getElementById('modelo-form').addEventListener('submit', function(event) {
            event.preventDefault();

            const formData = new FormData(this);

            const formDataObj = {};
            formData.forEach((value, key) => {
                formDataObj[key] = value;
            });
            
            const jsonData = JSON.stringify(formDataObj);

            fetch('/veiculo/marca/modelo', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: jsonData
            })
            .then(response => {
                if (response.ok) {
                    alert('Modelo cadastrado com sucesso!');
                    getVeiculos()
                    this.reset();
                    const selects = this.querySelectorAll('select');
                    selects.forEach(select => {
                        select.selectedIndex = 0;
                    });
                } else {
                    alert('Houve um erro ao enviar o formulário.');
                }
            })
            .catch(error => {
                console.error('Erro ao enviar o formulário:', error);
                alert('Erro de rede. Tente novamente mais tarde.');
            });
        });

        function getVeiculos() {
            const container = document.querySelector('.listaCarros');
            container.innerHTML = '';

            fetch('/veiculo/marca/lista-cadastro')
                .then(response => {
                    if (!response.ok) {
                        throw new Error('Erro na resposta da rede');
                    }
                    return response.json();
                })
                .then(data => {
                    if (!data.length) {
                        container.innerHTML = '<p>Nenhum modelo ou marca cadastrado ainda.</p>';
                    }
                    data.forEach(item => {
                        const marcaHtml = `
                            <div>
                                <h2>${item.nomeMarca}</h2>
                                <div>
                                    <p>Modelo:</p>
                                    <span class="linhaDois"></span>
                                </div>
                                <div class="modelos">
                                    ${item.nomeModelos.length === 0
                                        ? '<p>Nenhum modelo disponível.</p>'
                                        : item.nomeModelos.map(modelo => `<h3>${modelo}</h3>`).join('')
                                    }
                                </div>
                            </div>
                        `;
                        container.innerHTML += marcaHtml;
                    });
                })
                .catch(error => {
                    console.error('Erro ao buscar a lista de veículos:', error);
                    container.innerHTML = '<p>Erro ao carregar a lista de veículos.</p>';
                });
        }


        function getMarcas() {
            const select = document.getElementById('selectMarca');
            select.innerHTML = '';

            fetch('/veiculo/marca')
                .then(response => {
                    if (!response.ok) {
                        throw new Error('Erro na resposta da rede');
                    }
                    return response.json();
                })
                .then(data => {
                    const defaultOption = document.createElement('option');
                    defaultOption.value = "";
                    if (!data.length) {
                        defaultOption.textContent = "Sem marca registrada";
                    } else {
                        defaultOption.textContent = "Selecione a Marca";
                    }
                    defaultOption.disabled = true;
                    defaultOption.selected = true;
                    defaultOption.hidden = true;
                    select.appendChild(defaultOption);
                    
                    data.forEach(marca => {
                        const option = document.createElement('option');
                        option.value = marca.id;

                        try {
                            const marcaData = JSON.parse(marca.nome);
                            option.textContent = marcaData.marca || "Marca Desconhecida";
                        } catch (e) {
                            option.textContent = marca.nome || "Marca Desconhecida";
                        }
                        
                        select.appendChild(option);
                    });
                })
                .catch(error => {
                    console.error('Erro ao buscar a lista de marcas:', error);
                    document.querySelector('.addSelect').innerHTML = '<p>Erro ao carregar a lista de marcas.</p>';
                });
        }
    </script>
</body>
</html>